<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
      <nav class="left-nav">
        <div class="left-top">
            <a href="/manage" >
              <div class="link">
                  <div class="icon_pic"><img src="/img/return.png" width="38" height="38" /></div>
                  <p>回到首页</p>
              </div>
            </a>
            <a href="/manageroom">
              <div class="link">
                  <div class="icon_pic"><img src="/img/manage.png" width="38" height="38" /></div>
                  <p>管理客房</p>
              </div>
            </a>
            <a href="/searchcus">
              <div class="link">
                  <div class="icon_pic"><img src="/img/cus_info.png" width="38" height="38" /></div>
                  <p>查询会员</p>
              </div>
            </a>
            <a href="/checkin">
              <div class="link">
                  <div class="icon_pic"><img src="/img/dengji.png" width="38" height="38" /></div>
                  <p>登记入住</p>
              </div>
            </a>
            <a href="/bookroom">
              <div class="link">
                  <div class="icon_pic"><img src="/img/yuding.png" width="38" height="38" /></div>
                  <p>预定客房</p>
              </div>
            </a>
            <a href="/checkout">
              <div class="link">
                  <div class="icon_pic"><img src="/img/tuifang.png" width="38" height="38" /></div>
                  <p>登记退房</p>
              </div>
            </a>
            <a href="/balance">
              <div class="link">
                  <div class="icon_pic"><img src="/img/pandian.png" width="38" height="38" /></div>
                  <p>盘点结算</p>
              </div>
            </a>
            <a href="/finance">
              <div class="link">
                  <div class="icon_pic"><img src="/img/money.png" width="38" height="38" /></div>
                  <p>生成报表</p>
              </div>
            </a>
        </div>
      </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
              <div class="ui grid">
                      <div class="four wide column"></div>
                      <div class="eight wide column">
                        <form class="ui form segment" method="post" id = "myFrm">
                          <div class="field required">
                            <label>身份证号</label>
                            <input placeholder="身份证号（18位数字）" type="text" name="idcard"  value=<%=customer.id%>>
                          </div>
                          <input type="submit" class="ui button fluid" value="预定查找">
                          <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                          <input type="submit" class="ui button fluid" value="会员查找">
                          <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                          <div class="field required">
                            <!--label>是否预定</label-->
                            <input placeholder="预定为1，非预定为0" type="hidden" name="isBook" value=<%=isBook%>>
                          </div>
                          <div class="field required">
                            <!--label>是否VIP</label-->
                            <input placeholder="VIP为1，非VIP为0" type="hidden" name="isVIP" value=<%=isVIP%>>
                          </div>
                          <div class="field required">
                            <!--label>订单号</label-->
                            <input placeholder="" type="hidden" name="idx" value=<%=idx%>>
                          </div>
                          <div class="field required">
                            <label>姓名</label>
                            <input placeholder="姓名" type="text" name="name" value=<%=customer.name%>>
                          </div>
                          <div class="field required">
                            <label>移动电话</label>
                            <input placeholder="移动电话" type="text" name="phone" value=<%=customer.phone%>>
                          </div>
                          <div class="field required">
                            <label>房间类型</label>
                            <input placeholder="房间类型" type="text" name="roomtype" value=<%=bookinfo.type%>>
                          </div>
                          <div class="field required">
                            <label>入住时间</label>
                            <input placeholder="入住时间（格式：YYYYMMDD）" type="text" name="starttime " disabled = true value=<%=bookinfo.startdate%>>
                          </div>
                          <div class="field required">
                            <label>退房时间</label>
                            <input placeholder="退房时间（格式：YYYYMMDD）" type="text" id="endtime" name="endtime" value=<%=bookinfo.enddate%>>
                            <script src="../middleware/laydate/laydate.js"></script>
                            <script>
                            //执行一个laydate实例
                            laydate.render({
                              elem: '#endtime' //指定元素
                            });
                            </script>
                            </div>
                          <div class="field required">
                            <label>房间号</label>
                            <input placeholder="点击登记入住后自动获取房间号" type="text" name="roomnum" disabled = true value=<%=roomnum%>>
                          </div>
                          <input type="submit" class="ui button fluid" value="确认入住">
                        </form>  
                      </div>
                    </div>
            </div>
    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
              </div>
            </footer>
        </div>

        <!--  所有预定信息  -->
        <div class="overflow">
        <table id="room_info">
        <thead>
            <th>顾客id</th>
            <th>顾客名</th>
            <th>顾客电话</th>
            <th>房间类型</th>
            <th>起始时间</th>
            <th>结束时间</th>
            <th>登记入住</th>
        </thead>
        <form method="post" id='myFrm2'> <!--id = "myFrm2" -->
        <% for(var i = 0; i < allbookinfos.length; i++){%>
        <tr>
            <td><%= allbookinfos[i].id %></td>
            <td><%= allbookinfos[i].name %></td>
            <td><%= allbookinfos[i].phone %></td>
            <td><%= allbookinfos[i].type %></td>
            <td><%= allbookinfos[i].startdate %></td>
            <td><%= allbookinfos[i].enddate %></td>
            <!-- <td><%= allbookinfos[i].idx %></td> -->
            <td>
                <input type="hidden" name="cusid"  value=<%=customer.id%>>
                <!-- <input type="hidden" name="idx"  value=<%= allbookinfos[i].idx %>> -->
                <input type="submit" width=80 name="idx" value=<%= allbookinfos[i].idx %>>
            <td>
        </tr>
        <%}%>
        </form>
        </table >
        </div>


      </div>
    </div>
<%- include('footerci') %>


