<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <nav class="left-nav">
      <div class="left-top">
        <div class="icon_pic"><img src="/img/return.png" width="38" height="38" /></div>
        <a href="/manage">回到首页</a>
        <div class="icon_pic"><img src="/img/manage.png" width="38" height="38" /></div>
        <a href="/manageroom">管理客房</a>
        <div class="icon_pic"><img src="/img/cus_info.png" width="38" height="38" /></div>
        <a href="/searchcus">查询会员</a>
        <div class="icon_pic"><img src="/img/dengji.png" width="38" height="38" /></div>
        <a href="/checkin">登记入住</a>
        <div class="icon_pic"><img src="/img/yuding.png" width="38" height="38" /></div>
        <a href="/bookroom">预订客房</a>
        <div class="icon_pic"><img src="/img/tuifang.png" width="38" height="38" /></div>
        <a href="/checkout">登记退房</a>
        <div class="icon_pic"><img src="/img/pandian.png" width="38" height="38" /></div>
        <a href="/balance">盘点结算</a>
        <div class="icon_pic"><img src="/img/money.png" width="38" height="38" /></div>
        <a href="/finance">生成报表</a>
      </div>
    </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
        <div class="ui grid">
          <div class="four wide column"></div>
          <div class="eight wide column">
            <div class="manage_room"><ul>
              <li><a href="/manageroom/addroom"><h2>添加客房</h1></a></li>
              <li><a href="/manageroom/updateroom"><h2>修改房价</h1></a></li>
              <li><a href="/manageroom/deleteroom"><h2>删除客房</h1></a></li>
            </ul></div>
          </div>
        </div>
      </div>
    <div class="blank"></div>
    
    <!--  所有房间信息  -->
    <table id="room_info">
    <thead>
        <th>房间号</th>
        <th>房间类型</th>
        <th>房间价格</th>
        <th>房间状态</th>
    </thead>
    <% for(var i = 0; i < rooms.length; i++){%>
    <tr>
        <td><%= rooms[i].number %></td>
        <td><%= rooms[i].type %></td>
        <td><%= rooms[i].value %></td>
        <td><%= rooms[i].status %></td>
    </tr>
    <%}%>
    </table >
    
</div>
<%- include('footermr') %>
