<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
      <nav class="left-nav">
        <div class="left-top">
          <a href="#">回到首页</a>
          <a href="/manageroom">管理客房</a>
          <a href="/searchcus">查询会员</a>
          <a href="/checkin">登记入住</a>
          <a href="/bookroom">预订客房</a>
          <a href="/checkout">登记退房</a>
          <a href="/balance">盘点结算</a>
        </div>
        <div class="left-bottom">
          <a href="/finance">生成财务报表</a>
        </div>
      </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
    <!--   左侧边样 start  -->
        <div class="left-side">
          <div class="left-aside">
            <div class="left-img">
            </div>
           </div>
        </div>
    <!--  左侧边栏 end  -->
    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
                <div class="avail_room_title">30天内可用房源一览表</div>
                <table id = "avail_room_table">
                  <!-- 0-10天 -->                
                  <tr>
                    <th>日期</th>
                    <% for(var i = 0; i < numbers.length&&i<10; i++){%>
                        <td><%=  numbers[i].days %></td>
                    <%}%>
                  </tr>

                  <tr>
                    <th>单人房</th>
                    <% for(var i = 0; i < numbers.length&&i<10; i++){%>
                        <td><%= numbers[i].singleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>双人房</th>
                    <% for(var i = 0; i < numbers.length&&i<10; i++){%>
                        <td><%= numbers[i].doubleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>大房</th>
                    <% for(var i = 0; i < numbers.length&&i<10; i++){%>
                        <td><%= numbers[i].bigRoom %></td>
                    <%}%>    
                  </tr>

                  <!-- 10-20天 --> 
                  <tr>
                    <th>日期</th>
                    <% for(var i = 10; i < numbers.length&&i<20; i++){%>
                        <td><%= numbers[i].days %></td>
                    <%}%>
                  </tr>

                  <tr>
                    <th>单人房</th>
                    <% for(var i = 10; i < numbers.length&&i<20; i++){%>
                        <td><%= numbers[i].singleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>双人房</th>
                    <% for(var i = 10; i < numbers.length&&i<20; i++){%>
                        <td><%= numbers[i].doubleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>大房</th>
                    <% for(var i = 10; i < numbers.length&&i<20; i++){%>
                        <td><%= numbers[i].bigRoom %></td>
                    <%}%>    
                  </tr>

                  <!-- 20-30天 --> 
                  <tr>
                    <th>日期</th>
                    <% for(var i = 20; i < numbers.length&&i<30; i++){%>
                        <td><%=  numbers[i].days %></td>
                    <%}%>
                  </tr>

                  <tr>
                    <th>单人房</th>
                    <% for(var i = 20; i < numbers.length&&i<30; i++){%>
                        <td><%= numbers[i].singleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>双人房</th>
                    <% for(var i = 20; i < numbers.length&&i<30; i++){%>
                        <td><%= numbers[i].doubleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>大房</th>
                    <% for(var i = 20; i < numbers.length&&i<30; i++){%>
                        <td><%= numbers[i].bigRoom %></td>
                    <%}%>    
                  </tr>

                </table>
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footer') %>