<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <%- include('left-nav') %>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
        <div class="ui grid">
          <div class="four wide column"></div>
          <div class="eight wide column">
            <div class="manage_room"><ul>
              <li><a href="/manageroom/addroom"><h2>添加客房</h1></a></li>
              <li><a href="/manageroom/updateroom"><h2>修改房价</h1></a></li>
              <li><a href="/manageroom/deleteroom"><h2>删除客房</h1></a></li>
              <li><a href="/manageroom/resetroom"><h2>重置客房</h1></a></li>
            </ul></div>
          </div>
        </div>
      </div>
    <div class="blank"></div>
    
    <!--  所有房间信息  -->
    <div class="title"><h2>房间入住情况一览表</h2></div>
    <div class="overflow">
    <table id="room_info">
    <thead>
        <th>房间号</th>
        <th>房间类型</th>
        <!-- <th>房间价格</th> -->
        <th>住客号</th>
    </thead>
      <% for(var i = 0; i < rooms.length; i++){%>
      <tr>
        <td><%= rooms[i].number %></td>
        <td><%= rooms[i].type %></td>
        <!-- <td><%= rooms[i].value %></td> -->
        <td><%= rooms[i].status %></td>
      </tr>
      <%}%>
    </table >
    </div>
    
</div>
<%- include('footermr') %>
