<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <nav class="left-nav">
      <div class="left-top">
        <a href="/manage">回到首页</a>
        <a href="/manageroom">管理客房</a>
        <a href="/searchcus">查询会员</a>
        <a href="/checkin">登记入住</a>
        <a href="/bookroom">预订客房</a>
        <a href="/checkout">登记退房</a>
        <a href="/balance">盘点结算</a>
      </div>
      <div class="left-bottom">
        <a href="/finance">生成财务报表</a>
      </div>
    </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
        <div class="ui grid">
          <div class="four wide column"></div>
          <div class="eight wide column">
            <div class="manage_room"><ul>
              <li><a href="/manageroom/addroom"><h2>添加客房</h1></a></li>
              <li><a href="/manageroom/updateroom"><h2>调整客房</h1></a></li>
              <li><a href="/manageroom/deleteroom"><h2>删除客房</h1></a></li>
            </ul></div>
          </div>
        </div>
      </div>
    <div class="blank"></div>
    
    <!--  所有房间信息  -->
    <table border="1">
    <tr>
        <td width=100>房号 </td>
        <td width=100 width=100>类型 </td>
        <td width=100>价格 </td>
        <td width=100>顾客 </td>
    </tr>
    <% for(var i = 0; i < rooms.length; i++){%>
    <tr>
        <td width=100><%= rooms[i].number %></td>
        <td width=100><%= rooms[i].type %></td>
        <td width=100><%= rooms[i].value %></td>
        <td width=100><%= rooms[i].status %></td>
    </tr>
    <%}%>
    </table >
    
</div>
<%- include('footermr') %>
