<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <nav class="left-nav">
      <div class="left-top">
          <a href="/manage" >
            <div class="link">
                <div class="icon_pic"><img src="/img/return.png" width="38" height="38" /></div>
                <p>回到首页</p>
            </div>
          </a>
          <a href="/manageroom">
            <div class="link">
                <div class="icon_pic"><img src="/img/manage.png" width="38" height="38" /></div>
                <p>管理客房</p>
            </div>
          </a>
          <a href="/searchcus">
            <div class="link">
                <div class="icon_pic"><img src="/img/cus_info.png" width="38" height="38" /></div>
                <p>查询会员</p>
            </div>
          </a>
          <a href="/checkin">
            <div class="link">
                <div class="icon_pic"><img src="/img/dengji.png" width="38" height="38" /></div>
                <p>登记入住</p>
            </div>
          </a>
          <a href="/bookroom">
            <div class="link">
                <div class="icon_pic"><img src="/img/yuding.png" width="38" height="38" /></div>
                <p>预定客房</p>
            </div>
          </a>
          <a href="/checkout">
            <div class="link">
                <div class="icon_pic"><img src="/img/tuifang.png" width="38" height="38" /></div>
                <p>登记退房</p>
            </div>
          </a>
          <a href="/balance">
            <div class="link">
                <div class="icon_pic"><img src="/img/pandian.png" width="38" height="38" /></div>
                <p>盘点结算</p>
            </div>
          </a>
          <a href="/finance">
            <div class="link">
                <div class="icon_pic"><img src="/img/money.png" width="38" height="38" /></div>
                <p>生成报表</p>
            </div>
          </a>
      </div>
    </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
        <div class="ui grid">
          <div class="four wide column"></div>
          <div class="eight wide column">
            <div class="manage_room"><ul>
              <li><a href="/manageroom/addroom"><h2>添加客房</h1></a></li>
              <li><a href="/manageroom/updateroom"><h2>修改房价</h1></a></li>
              <li><a href="/manageroom/deleteroom"><h2>删除客房</h1></a></li>
              <li><a href="/manageroom/resetroom"><h2>重置客房</h1></a></li>
            </ul></div>
          </div>
        </div>
      </div>
    <div class="blank"></div>
    
    <!--  所有房间信息  -->
    <div class="overflow">
    <table id="room_info">
    <thead>
        <th>房间号</th>
        <th>房间类型</th>
        <th>房间价格</th>
        <th>住客号</th>
    </thead>
    <% for(var i = 0; i < rooms.length; i++){%>
    <tr>
        <td><%= rooms[i].number %></td>
        <td><%= rooms[i].type %></td>
        <td><%= rooms[i].value %></td>
        <td><%= rooms[i].status %></td>
    </tr>
    <%}%>
    </table >
    </div>
    
</div>
<%- include('footermr') %>
