<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <%- include('left-nav') %>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
    
    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
                <div class="avail_room_title"><h2>30天内可用房源一览表</h2></div>
                <table id = "avail_room_table">
                  <!-- 0-10天 -->                
                  <tr>
                    <th>日期</th>
                    <% for(var i = 0; i < numbers.length&&i<10; i++){%>
                        <td><%=  numbers[i].days %></td>
                    <%}%>
                  </tr>

                  <tr>
                    <th>单人房</th>
                    <% for(var i = 0; i < numbers.length&&i<10; i++){%>
                        <td><%= numbers[i].singleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>双人房</th>
                    <% for(var i = 0; i < numbers.length&&i<10; i++){%>
                        <td><%= numbers[i].doubleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>大床房</th>
                    <% for(var i = 0; i < numbers.length&&i<10; i++){%>
                        <td><%= numbers[i].bigRoom %></td>
                    <%}%>    
                  </tr>

                  <!-- 10-20天 --> 
                  <tr>
                    <th>日期</th>
                    <% for(var i = 10; i < numbers.length&&i<20; i++){%>
                        <td><%= numbers[i].days %></td>
                    <%}%>
                  </tr>

                  <tr>
                    <th>单人房</th>
                    <% for(var i = 10; i < numbers.length&&i<20; i++){%>
                        <td><%= numbers[i].singleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>双人房</th>
                    <% for(var i = 10; i < numbers.length&&i<20; i++){%>
                        <td><%= numbers[i].doubleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>大床房</th>
                    <% for(var i = 10; i < numbers.length&&i<20; i++){%>
                        <td><%= numbers[i].bigRoom %></td>
                    <%}%>    
                  </tr>

                  <!-- 20-30天 --> 
                  <tr>
                    <th>日期</th>
                    <% for(var i = 20; i < numbers.length&&i<30; i++){%>
                        <td><%=  numbers[i].days %></td>
                    <%}%>
                  </tr>

                  <tr>
                    <th>单人房</th>
                    <% for(var i = 20; i < numbers.length&&i<30; i++){%>
                        <td><%= numbers[i].singleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>双人房</th>
                    <% for(var i = 20; i < numbers.length&&i<30; i++){%>
                        <td><%= numbers[i].doubleRoom %></td>
                    <%}%>    
                  </tr>
                  <tr>
                    <th>大床房</th>
                    <% for(var i = 20; i < numbers.length&&i<30; i++){%>
                        <td><%= numbers[i].bigRoom %></td>
                    <%}%>    
                  </tr>

                </table>
                <form class="ui form segment" method="post" id = "myFrm">
                  <input type="submit" class="ui button fluid" value="！ 清除整个系统记录 ！">
                </form> 
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footer') %>
